* {
    -color-light: #ffffff;
    -color-dark: #777777;
    -color-primary: #ffbca6;
    -color-secondary: #eeeeee;
    -color-ternary: #4d1f4d;
    -color-error: #dd0000;

    -fx-font-family: "Quicksand";
    -fx-text-fill: -color-dark;
}

.input {
    -fx-background-color: -color-secondary;
    -fx-background-insets: 0;
    -fx-padding: 5 20 5 20;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.input:focused {
    -fx-border-color: derive(-color-ternary, +100%);
}

.button {
    -fx-background-color: -color-secondary;
    -fx-background-insets: 0;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-padding: 5 20 5 20;
}

.button:hover {
    -fx-background-color: -color-secondary;
}

.button.button-primary {
    -fx-background-color: -color-primary;
    -fx-text-fill: -color-light;
}

.button.button-primary:hover {
    -fx-cursor: hand;
    -fx-background-color: derive(-color-primary, +20%);
}

.button.button-secondary {
    -fx-background-color: -color-secondary;
    -fx-text-fill: -color-light;
}

.button.button-secondary:hover {
    -fx-cursor: hand;
    -fx-background-color: derive(-color-secondary, +20%);
}

.context-menu {
    -fx-text-fill: -color-dark;
    -fx-background-color: -color-light;
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-border-color: -color-secondary;
    -fx-effect: null;
}

.menu-item {
    -fx-text-fill: -color-dark;
}

.menu-item:hover,
.menu-item:focused {
    -fx-background-color: -color-primary;
}

.menu-item:hover .label,
.menu-item:focused .label {
    -fx-text-fill: -color-light;
}

.check-box {
    -fx-background-color: -color-secondary;
    -fx-background-insets: 0;
    -fx-padding: 10 20 10 10;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.check-box:hover,
.check-box:hover .box {
    -fx-cursor: hand;
    -fx-background-color: derive(-color-secondary, +20%);
}

.check-box .box {
    -fx-background-color: -color-secondary;
}

.check-box:selected .mark {
    -fx-background-color: -color-primary;
}

.check-box:selected {
   -fx-border-color: derive(-color-ternary, +100%);
}

.progress-bar > .bar {
    -fx-background-color: -color-primary;
    -fx-background-insets: 0;
    -fx-background-radius: 50;
    -fx-padding: 5;
}

.progress-bar > .track {
    -fx-text-box-border: transparent;
    -fx-background-color: -color-secondary;
}