.dashboard {
    -fx-background-color: -color-light;
}

.dashboard__user {
     -fx-font-size: 12;
     -fx-text-fill: -color-dark;
}

.dashboard__user-button .label {
    -fx-font-size: 12;
}

.dashboard__title {
    -fx-font-size: 28;
    -fx-text-fill: -color-ternary;
}

.dashboard__title_quiz-count {
    -fx-font-size: 12;
    -fx-text-fill: -color-light;
    -fx-background-color: -color-primary;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-padding: 5 20 5 20;
}

.dashboard__scroll-container {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-background-color: -color-light;
    -fx-border-color: transparent;
}

.dashboard__quizzes {
    -fx-spacing: 20;
    -fx-background-color: -color-light;
}

.dashboard__quiz {
    -fx-background-color: -color-secondary;
    -fx-background-insets: 0;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
}

.dashboard__quiz:hover {
    -fx-cursor: hand;
    -fx-border-color: derive(-color-ternary, +100%);
    -fx-background-color: derive(-color-secondary, +20%);
}

.dashboard__quiz__category {
    -fx-text-fill: -color-light;
    -fx-background-insets: 0;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-padding: 5 20 5 20;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
    -fx-alignment: center;
}

.category-computer-science {
    -fx-background-color: #266eff;
}

.category-astronomy {
    -fx-background-color: #a63a82;
}

.dashboard__quiz__name {
    -fx-font-size: 18;
    -fx-padding: 5 20 5 20;
    -fx-pref-height: 50;
    -fx-pref-width: 600;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
}

.dashboard__quiz__questions {
    -fx-background-color: transparent;
    -fx-padding: 5 20 5 20;
    -fx-alignment: center-left;
}