.quiz {
    -fx-background-color: -color-light;
}

.quiz__title {
    -fx-font-size: 28;
    -fx-text-fill: -color-ternary;
}

.quiz__progress {
    -fx-pref-height: 10;
}

.quiz__scroll-container {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-background-color: -color-light;
    -fx-border-color: transparent;
}

.quiz__content {
    -fx-spacing: 50;
    -fx-background-color: -color-light;
    -fx-padding: 0 0 20 0;
}

.quiz__questions {
    -fx-spacing: 20;
    -fx-background-color: -color-light;
}

.quiz__question {
    -fx-spacing: 10;
}

.quiz__question_name {
    -fx-font-size: 18;
    -fx-text-fill: -color-ternary;
    -fx-padding: 0 0 10 0;
}

.quiz__question-checkbox {
    -fx-pref-width: 920;
    -fx-min-height: 48;
    -fx-wrap-text: true;
}

.quiz__evaluate {
    -fx-pref-height: 48;
}

.quiz__cancel {
    -fx-font-size: 12;
}