.results {
    -fx-background-color: -color-light;
}

.results__quiz-title {
    -fx-font-size: 28;
    -fx-text-fill: -color-ternary;
}

.results__score {
    -fx-text-fill: -color-primary;
}

.results__scroll-container {
  -fx-hbar-policy: never;
  -fx-vbar-policy: never;
  -fx-background-color: -color-light;
  -fx-border-color: transparent;
}

.results__questions-container {
    -fx-spacing: 20;
    -fx-background-color: -color-light;
    -fx-padding: 0 0 20 0;
}

.results__question {
    -fx-pref-width: 920;
    -fx-min-height: 48;
    -fx-wrap-text: true;
    -fx-background-color: -color-secondary;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 20;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
}

.results__question-content {
    -fx-alignment: center-left;
}

.results__question-validation {
    -fx-pref-width: 120;
    -fx-min-height: 48;
    -fx-background-insets: 0;
    -fx-padding: 5 20 5 20;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: -color-light;
}

.results__question-validation.results__question-validation--correct {
    -fx-background-color: -color-success;
}

.results__question-validation.results__question-validation--incorrect {
    -fx-background-color: -color-error;
}